
#cardBox {
  margin: auto;
  position: relative;
}

#sharonCard {
 position: absolute;
 top: 330px; 
 left: 310px;
}

#alexCard {
  position: absolute;
  top: 330px; 
  left: 40px;
 }

 #meganCard {
  position: absolute;
  top: 60px; 
  left: 240px;
 }

 #connorCard {
  position: absolute;
  top: 330px; 
  left: 580px;
  transform: rotate(15deg);
  transition-duration: 0.8s;
  transition-property: transform;
 }

 #connorCard:hover {
   transform: rotate( 0deg);
 }

/********************************************************************************
*          Card Flipping                                                  *
********************************************************************************/
.flipCard {
  height: 230px;
  position: relative;
  width: 230px;
 }
 .flipAnimation {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
 }
 .flipAnimation:hover {
  transform: rotateY(180deg);
 }
 .flipAnimation .cardFront {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
 }
 .flipAnimation .cardBack {
  backface-visibility: hidden;
  background: #17a1ab;
  color: black;
  line-height: 230px;
  text-align: center;
  transform: rotateY(180deg);
 }