table {
  width: 50%;
  margin: 20px auto;
  background: #17a1ab;
  color: white;
  border-radius: 6px;
}

table, th, td {
  border: 1px solid white;
}

th {
  height: 60px;
  line-height: 60px;
}

td {
  height: 30px;
  line-height: 30px;
  padding-left: 25px;
}

#highScoreHeader {
  width: 100%;
  margin: 15px;
  padding: 0 auto;
}