  /* teal color #17a1ab */
/* $primary: #17a1ab;
$secondary: #434343;  */

body {
  max-width: 100%;
  font-family: 'robotic', sans-serif;
  background: white;
  margin: auto;
}

main {
  max-width: 960px;
  margin: 10px auto;
}

nav {
background: #17a1ab;
height: 70px;
margin-top: 30px;
max-width: 100%;
/* align-content: center; */
position: relative;
}

nav img {
  display:inline-block;
  max-height: 70px;
  margin-left:20px;
}
nav ul{
  float: left;
  color: white;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 35%;
  left:10%;
  letter-spacing: .30;
}
nav li{
  display: inline;
  padding: 20px;
}
li a{
  color:white;
  text-decoration: none;
  margin-top: 33px;
}
li a:hover {
  background-color: default;
  color: rgb(61, 61, 92);
}

#homeSection{
  position: relative;
  top: 10%;
  left: 25%; 
}
#logo{
  position: absolute;
  top: 5px;
  left: 0px;
}

#logoRightTilted{
  position: absolute;
  top: 5px;
  left: 0px;
  transform: rotate(3deg);
}

#playerNameInput{
  position: absolute;
  top: 418px;
  left: 35px;
  width: 300px;
  height: 30px;
  display: block;
  clear: both;
  margin: auto;
  border-radius: 1em;
}
#playerNameInput input[type=text], textarea {
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
#playerNameInput input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #17a1ab;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #17a1ab;
}
#playGameButton {
  position: absolute;
  top: 490px;
  left: 50px;
  padding:.3em 2em;
  border-radius:1em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:inherit;
  font-size: 12px;
  font-weight:200;
  color:#FFFFFF;
  background-color: #17a1ab;
  text-align:center;
  transition: all 0.2s;
  width: 120px;
  }
  #highScoreButton {
    position: absolute;
    top: 491px;
    left: 200px;
    padding:.3em 2em;
    border-radius:1em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:inherit;
    font-size: 12px;
    font-weight:200;
    color:#FFFFFF;
    background-color: #17a1ab;
    text-align:center;
    transition: all 0.2s;
    width: 120px;
    }
  a{ 
    margin: auto;
    text-decoration:none;
    color: white;
  }
  button:hover{
  background-color: white;
  color: #17a1ab;
  }
  button a:hover{
    background-color: white;
    color: #17a1ab;
    }